<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.)/$ /$1 [L,R=301]

    # Handle Front Controller...
RewriteCond %{REQUEST_URI} !(.css|.js|.png|.jpg|.gif|robots.txt|.ttf)$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]



      # Added to Force HTTPS
 # RewriteCond %{HTTP_HOST} mgasalud.online [NC]
 # RewriteCond %{SERVER_PORT} 8000
 # RewriteRule ^(.)$ https://localhost/$1 [R,L]
 
</IfModule>